# mu3edb0 host overlay for startGT.

setup_basedir: "/mnt/data2/prod/startGT"
relink_script: "/home/mu3e/mu3eanca/perl/relinkBinFiles"
cdb_dbconn: "http://mu3edb0/cdb/"
CDB_code_basedir: "/home/mu3e/mu3eanca/db0/cdb2"
