# GT-v7.1.cfg
# ===========
#
# One mcideal mu3eSim run -> single alignment ROOT shared by all GTs.
# Installed-component selection: cdbRunPayloadWriter -m (2026 for v7.x).
#
#   ./startGT [-c GT-v7.1.cfg] setup
#   ./startGT [-c GT-v7.1.cfg] sim
#   ./startGT [-c GT-v7.1.cfg] -g mcidealv7.1 alignment
#   ./startGT [-c GT-v7.1.cfg] -g 'mcrealisticv7.1=2026V0' alignment
#   ./startGT [-c GT-v7.1.cfg] -g 'datav7.1=2026V0' alignment
#   ./startGT [-c GT-v7.1.cfg] -g 'datav7.1=2026V0' alltags     # alignment + quality

target: list

mu3e_repo: "git@bitbucket.org:mu3e/mu3e"
mu3e_tag: "v7.0pre0"
mu3e_workdir: "mu3e-v7.0pre0"

make_jobs: 10

test_cdb_dir: "output/test-CDB"

# For mcrealistic/data alignment payloads (-m on cdbRunPayloadWriter).
conditions_year: "2026"

# mcideal mu3eSim -> one alignment ROOT for all GT flavours
sim_conf: "sim_signal.json"
alignment_output: "output/mu3e_alignment.root"

sim_run_id: 1
sim_n_events: 1
