# all setup: run several setup configs in order.
#
#   ./relval -c config-setup-all.cfg
#   ./relval -c config-setup-all.cfg -n

target: setup

include: config-setup-mu3eValidation.cfg
include: config-setup-mu3eUtil.cfg
include: config-setup-v6.5.cfg
include: config-setup-v6.9.cfg
include: config-setup-v7.0pre0.cfg
