# Setup MU3E release v6.5 under setup_basedir (from host overlay).
#
#   ./relval -c config-setup-v6.5.cfg
#   ./relval -c config-setup-v6.5.cfg -n

target: setup

mu3e_repo: "git@bitbucket.org:mu3e/mu3e"
mu3e_tag: "v7.0pre0"

make_jobs: 10
