# Setup standalone mu3eUtil under setup_basedir (from host overlay).
#
#   ./relval -c config-setup-mu3eUtil.cfg

target: setup

mu3eUtil_repo: "git@bitbucket.org:mu3e/mu3eUtil"
mu3eUtil_tag: "dev"
# mu3eUtil_checkout_branch: "dev"
mu3eUtil_merges: "dev_eengelhardt"
# mu3eUtil_workdir: "mu3eUtil-main"

mu3eUtil_build: true  

make_jobs: 10
