# all relval: run configured tasks for each included version config.
#
#   ./relval -c relval-all.cfg
#   ./relval -c relval-all.cfg -n
#
# Prerequisite: run setup for each MU3E version first, e.g.
#   ./relval -c setup-all.cfg

target: all

include: relval-v6.5.cfg
include: relval-v6.9.cfg
include: relval-v7.0pre0.cfg
