# all setup: run several setup configs in order.
#
#   ./relval -c setup-all.cfg
#   ./relval -c setup-all.cfg -n

target: setup

include: setup-ana.cfg
include: setup-mu3eValidation.cfg
include: setup-mu3eUtil.cfg
include: setup-v6.5.cfg
include: setup-v6.9.cfg
include: setup-v7.0pre0.cfg
